streamlit
pandas
numpy
scikit-learn
matplotlib==3.7.1
seaborn
plotly
altair
pyarrow
protobuf
requests
aiohttp
fsspec
pillow
tqdm
pydeck
watchdog
PyYAML
pyparsing
markdown
streamlit-ace
